# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtualenv
.venv/
venv/

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# Umgebung
.env

# Workflow-Logs
.workflow/artifacts/hooks_logging.log

# Editor
.idea/
.vscode/
